.grid-cell {
    -fx-background-radius: 0;
    -fx-border-width: 1;
    -fx-border-color: #000000;
}

.sea-grid-cell {
    -fx-background-color: #cde0ff;
}

.selected-grid-cell {
    -fx-background-color: #8fa9ff;
}

.under-mouse-grid-cell {
    -fx-background-color: #899bff;
}

.common-ship-grid-cell {
    -fx-background-color: #000000;
}

.mine-cells-grid-cell {
    -fx-background-color: #2cff01;
}

.submarine-cells-grid-cell {
    -fx-background-color: #00ffff;
}

.minesweeper-cells-grid-cell {
    -fx-background-color: #ff0fff;
}

.dead-ship-cells-grid-cell {
    -fx-background-color: #ff000f;
}

.dead-zone-cells-grid-cell {
    -fx-background-color: #d7b8ff;
}